body{
    background:#C4D9BA;
    font-family:Arial, Helvetica, sans-serif;
}
.assignment{
    display:flex;
    padding:10px;
    margin:10px;
    background:#A4B3BF;
    border-radius:5px;
    box-shadow:5px 10px gray;
}
.assignment img{
    width: 200px;
    margin-right:25;
    border: 2px solid #006400;
    border-radius:5px;
}
h2{
    color:#022601;
    text-align:center;
}

a
{
    text-decoration: none;
    color: #D3D930;
}

.assignment a:hover {
    color:#006400;
}